:root {
	scroll-behavior: smooth;

	--red: #F44336;
	--blue: #3F51B5;
	--green: #009688;
	--yellow: #FF9800;
	--gray: #eeeeee;
	--white: #fefefe;
	--black: #333333;
	--transparent: transparent;

	--font: var(--black);
	--arrow: var(--black);
	--background: var(--white);

	--input-background-default: var(--gray);
	--input-border-default: var(--transparent);

	--input-border-active: var(--blue);
	--input-background-active: var(--white);

	--button-font-default: var(--white);
	--button-background-default: var(--blue);
	--button-border-default: var(--transparent);

	--button-font-active: var(--white);
	--button-background-active: var(--blue);

	--button-font-error: var(--red);
	--button-border-error: var(--red);
	--button-background-error: var(--transparent);

	--button-font-success: var(--green);
	--button-border-success: var(--green);
	--button-background-success: var(--transparent);

}
* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: var(--font);
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace, sans-serif;
	transition: border-color 150ms ease-in-out, background-color 150ms ease-in-out;
}
body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--background);
}
footer {
	padding: 1rem;
}
h1 {
	font-size: 6rem;
	font-weight: 300;
}
h2 {
	font-size: 3rem;
	font-weight: 300;
	margin-bottom: 3rem;
}
p {
	max-width: 600px;
}
section {
	display: flex;
	padding: 1rem;
	/* min-width: 100vw; */
	min-height: 100vh;
	align-items: center;
	align-content: center;
	flex-direction: column;
	justify-content: center;
}
form {
	display: flex;
	padding: 0.9rem;
    flex-flow: wrap;
	max-width: 600px;
	flex-direction: row;
	align-items: center;
	padding-bottom: 3rem;
    justify-content: center;
}
input[type="submit"], input[type="submit"]:focus {
    flex: 0;
	border: none;
    display: flex;
	margin: 0.3rem;
	cursor: pointer;
	border: solid 1px;
	text-align: center;
	padding: 0.6rem 0.9rem;
	text-transform: uppercase;
	color: var(--button-font-default);
	border-color: var(--button-border-default);
	background-color: var(--button-background-default);
}
input[type="submit"]:hover {
	/* filter: brightness(100); */
}
input[type="submit"]:disabled {
	cursor: disabled;
}
input[type="submit"].error {
	color: var(--button-font-error);
	border-color: var(--button-border-error);
	background-color: var(--button-background-error);
}
input[type="submit"].success {
	color: var(--button-font-success);
	border-color: var(--button-border-success);
	background-color: var(--button-background-success);
}
input, textarea {
	border: none;
	display: flex;
	outline: none;
	flex: 1 1 auto;
	margin: 0.6rem;
	max-width: 100%;
	padding: 0.6rem;
	border-radius: 2px;
    border: solid 1px var(--input-border-default);
	background-color: var(--input-background-default);
}
textarea {
	width: 100%;
	resize: none;
	min-height: 9rem;
}
input:focus, textarea:focus {
	border-color: var(--input-border-active);
	background-color: var(--input-background-active);
}
.arrow {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 6rem;
	border: none;
	position: absolute;
}
.arrow:hover {
	border: none;
}
.arrow:after {
	content: '';
	margin: auto;
	border: none;
    width: 3rem;
    height: 3rem;
	display: block;
    border-top: solid 1px var(--arrow);
    border-right: solid 1px var(--arrow);
    animation-name: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
	transform: translateY(0) rotate(135deg);
}
.copyright {
    margin: auto;
	display: block;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}
@keyframes arrow {
    0% {
		transform: translateY(-1rem) rotate(135deg);
    }
    50% {
		transform: translateY(2rem) rotate(135deg);
    }
    100% {
		transform: translateY(-1rem) rotate(135deg);
    }
}
